{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    ]
  ],
  // "plugins": [
  //   "@emotion/babel-plugin"
  // ],
  "env": {
    "development": {
      "plugins": [
        "@emotion/babel-plugin",
        "react-refresh/babel"
      ]
    },
    "production": {
      "plugins": [
        "@emotion/babel-plugin"
      ]
    }
  }
}